body {
  font-family: 'Arapey', serif;
  margin: 0;
  background: #eef1f2;
}

p {
  font-family: 'Arapey', serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Hind', 'sans-serif';
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px 0 5px 0;
}

main {
  width: 60%;
  max-width: 960px;
  margin: 0 auto;
}

section {
  margin: 5% 0;
}

.button {
  font-family: 'Hind', 'sans-serif';
  font-weight: bold;
  letter-spacing: 1px;
  border: solid thin;
  text-decoration: none;
  padding: 10px;
}

p {
  margin-top: 0;
  color: #6d6d6d;
}

a {
  text-decoration: none;
  color: #123;
}

hr {
  border: none;
  border-top:3px double #E5E5E3;
  margin: 40px 0;
}

.text-centered {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.border-right {
  border-right: 3px double #E5E5E3;
}

header {
  position: absolute;
  width: 100%;
}

#intro {
  background-image: url(../img/carry.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
  min-height: 65vh;
  margin: 0;
}

.whitebox {
  background: white;
  padding: 5%;
  margin: -10% 0 0 0;
  position: relative;
}

.whitebox:before {
  content: "";
  position: absolute;
  background-image: url(../img/before.svg);
  background-position: left top;
  background-repeat: repeat-y;
  background-size: 15px 15px;
  left: -10px;
  top: 0;
  bottom: 0;
  width: 10px;
}

.whitebox:after {
  content: "";
  position: absolute;
  background-image: url(../img/after.svg);
  background-position: right top;
  background-repeat: repeat-y;
  background-size: 15px 15px;
  right: -10px;
  top: 0;
  bottom: 0;
  width: 10px;
}

.divider {
  width: 100%;
  text-align: center;
  background-image: url(../img/divider-dot.svg);
  background-size: 6px;
  background-position: center;
  background-repeat: repeat-x;
  height: 15px;
  margin: 15px 0;
}

.divider img {
  background: #eef1f2;
}

.callout {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-family: 'Hind', 'sans-serif';
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.25em;
}